html, body {
    padding:0;
    margin:0;
    height:100%;
    
}

h1 {
    background-color: #F1C382;
    color: #AB5A20;
    text-align: center;
    margin-bottom: 0 !important;
    border: 0 !important;
}

nav {
    margin-bottom: 0 !important;
    border: 0 !important;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #F1C382;
}

li {
  float: left;
}

li a {
  display: block;
  color: #AB5A20;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #F5D7A5;
}

body {
    opacity: 90%; background-color: #F5D7A5;
}

footer {
    background-color: #F1C382;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

figure {
    text-align: center;
}

figurecaption {
    text-align: center;
    color: #6F3B20;
}

.welcome-portrait {
    width: 40%;
    opacity: 100%;
}

p {
    text-align: center;
    color: #6F3B20;
}
.gallery {
    column-count: 3;
    column-gap: 5px;
}
#photo {
    width: 100%;
    padding: 5px 0 0 0;
    opacity: 50%;
}

#photo:hover {
    opacity: 100%;
}

.smallimages {
    column-count: 6;
    column-gap: 5px;
}
img {
    width: 25%;
    padding: 5px 0 0 0;
    opacity: 50%;
}

img:hover {
    opacity: 100%;
}

.imgcontainer {
    position: relative;
    display: none;
}

#expandedimg {
    float: left;
}

#imgtext, #yarnmanufacturer, #yarn, #colour, #needles {
  position: relative;
  left: 2%;
  top: 27%;
  padding: 15px;
  color: #6F3B20;
  font-size: 15px;
}
