{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="smallimages">
        {% for sweater in sweaters %}
            <img id="photo" src="{{ sweater.image.url }}" alt="{{ sweater.name }}
                {{ sweater.yarn.manufacturer }}
                {{ sweater.yarn }}
                {% for colour in sweater.colour.all %}
                    {{ colour.name }}
                {% endfor %}
                {% for needles in sweater.needles.all %}
                    {{ needles.size }}
                {% endfor %}" onclick="expand(this);">
        {% endfor %}
    </div>
    <div class="container">
        <img id="expandedimg" style="width:25%; opacity:1">
        <div id="imgtext"></div>
    </div>
    <script>
        function expand(imgs) {
            var expandimg = document.getElementById("expandedimg");
            var imgText = document.getElementById("imgtext");
            expandimg.src = imgs.src;
            imgtext.innerHTML = imgs.alt;
            expandimg.parentElement.style.display = "block";
            }
    </script>

{% endblock content %}

